<%- include('partials/head') %>
    
    <%- include('partials/nav', {current: '/pastas'}); %>
    
    <div class="container">
        <h1>Onze pasta's</h1>
        <p class="summary">Welkom bij PizzAria, waar we de kunst van pasta en webdesign combineren. Blader door ons digitale pastamenu, vakkundig gecreëerd met HTML en CSS, en ontdek een scala aan smaakvolle webpagina's. Elk gerecht op onze pasta-overzichtspagina is als een digitale culinaire reis, bereid met een perfecte mix van creativiteit en technisch vakmanschap. Van klassieke spaghetti tot verrassende fusilli, elke pastapagina is doordrenkt met visuele heerlijkheden. Bij PizzAria serveren we geen gewone pasta, maar een onvergetelijke online smaakbeleving. Geniet van de virtuele pasta-ervaring!</p>
        
        <div class="card-grid">
            <% pastas.forEach(function(pasta) { %>
                <%- include('partials/card', {result: pasta, url: "pastas"}); %>
            <% }) %>
        </div>
    </div>
<%- include('partials/foot') %>