<%- include('partials/head') %>
    
    <%- include('partials/nav', {current: '/pizzas'}); %>
    
    <div class="container">
        <h1>Onze pizza's</h1>
        <p class="summary">Ontdek de onweerstaanbare wereld van PizzAria, waar elke klik een smaakexplosie onthult. Onze digitale pizzeria, met de perfecte mix van HTML en CSS, presenteert een menu boordevol visueel aantrekkelijke pizza's. Van de verleidelijke homepagina tot de sfeervolle contactpagina, elke sectie is als een culinair kunstwerk op het web. Duik in de smaken van ons webdesign en laat je verrassen door de creatieve combinaties. Bij PizzAria serveren we geen gewone pizza's, maar een feest voor de zintuigen. Ontdek, klik en geniet van de digitale smaaksensatie!</p>
        
        <div class="card-grid">
            <% pizzas.forEach(function(pizza) { %>
                <%- include('partials/card', {result: pizza, url: "pizzas"}); %>
            <% }) %>
        </div>
    </div>
<%- include('partials/foot') %>