body {
    padding: 0;
    margin: 0;
    background: lightgoldenrodyellow;
    font-family: georgia, sans-serif;
    color: #000;
    line-height: 1.4;

    --color-bg: darkred;
}

label {
    display: block;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3em;
}

nav {
    margin: 10px 10px 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    display: inline-flex;
    align-items: center;
    min-height: 45px;
    padding: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

nav a.active,
nav a:hover {
    background: var(--color-bg);
    color: white;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    background: goldenrod;
}

.card.-pastas {
    background: rosybrown;
}

.card a {
    color: currentColor;
    text-decoration: none;
}

.card__content {
    padding: 20px;
    position: relative;
}

.card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    min-height: 45px;
    padding: 0 15px;
    background: var(--color-bg);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.card-grid {
    display: grid;
    gap: 20px;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pizza-container {
    @media (min-width: 800px) {
        display: flex;
        gap: 20px;
    }
}

.pizza-image {
    @media (min-width: 800px) {
        width: 60%;
    }
}

.summary {
    background: rgba(255,255,255,0.8);
    padding: 1rem;
    font-size: 1.1em;
}